<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		Aliados y colaboradores
	</h1>
	<section class="section section-title-topbar">
		<p class="has-text-centered is-size-4 has-text-link has-text-weight-bold">
			Conoce a las empresas que apoyan a Vida Renal
		</p>
		<div class="section last-section">
			<div class="columns">
				<div class="column is-6">
					<figure class="image is-16by9 queHacemos-img no-zoom">
						<img src="{{ base_url() }}{{ asset('/public/img/aliado1.png') }}" class="no-zoom" style="object-fit: contain;">
					</figure>
				</div>
				<div class="column is-6">
					<figure class="image is-16by9 queHacemos-img no-zoom">
						<img src="{{ base_url() }}{{ asset('/public/img/aliado2.png') }}" class="no-zoom" style="object-fit: contain;">
					</figure>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6">
					<figure class="image is-16by9 queHacemos-img no-zoom">
						<img src="{{ base_url() }}{{ asset('/public/img/aliado3.png') }}" class="no-zoom" style="object-fit: contain;">
					</figure>
				</div>
				<div class="column is-6">
					<figure class="image is-16by9 queHacemos-img no-zoom">
						<img src="{{ base_url() }}{{ asset('/public/img/aliado4.jpg') }}" class="no-zoom" style="object-fit: contain;">
					</figure>
				</div>
			</div>
		</div>
	</section>
</div>
