<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Aliados y colaboradores
	</h1>
	<section class="section">
		<section class="section section-title-topbar">
			<p class="has-text-centered is-size-6 has-text-weight-bold" style="color: #333; opacity: 0.8;">
				Conoce a las empresas que apoyan a Vida Renal.
			</p>
		</section>
		<div class="section last-section">
			<div class="columns">
				<div class="column is-6 no-zoom center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 80%;">
						<a href="https://www.jenner.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado1.png') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
				<div class="column is-6 center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 80%;">
						<a href="https://www.olab.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado2.png') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
				<div class="column is-6 center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 80%;">
						<a href="https://laboratorioazteca.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado5.png') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
				<div class="column is-6 center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 80%;">
						<a href="https://www.chopo.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado6.jpg') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
			</div>
			<div class="columns">
				<div class="column is-6 center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 48%;">
						<a href="http://www.safeconfidence.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado3.png') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
				<div class="column is-6 center">
					<figure class="image is-16by9 queHacemos-img no-zoom" style="width: 45%;">
						<a href="https://corporatecar.com.mx/" target="_blank">
							<img 
								src="{{ base_url() }}{{ asset('/public/img/aliado4.jpg') }}" 
								class="no-zoom" 
								style="object-fit: contain;"
							/>
						</a>
					</figure>
				</div>
			</div>
		</div>
	</section>
</div>
