<div class="container">
     <h1 class="title section is-2 has-text-info section-title has-text-centered">Blog</h1>
     <section class="section last-section">
          {% if blogs|length > 0 %}
               {% for blog in blogs %}
                    <div class="columns section">
                         <div class="column is-6">
                              <figure class="image is-16by9 queHacemos-img">
                                   <a href="blog/ver/{{ blog.id }}">
                                        <img src="{{ base_url() }}{{ asset(blog.imagen) }}" class="zoom">
                                   </a>
                              </figure>
                         </div>
                         <div class="column is-6">
                              <p class="has-text-link is-size-6 has-text-right is-italic">{{ blog.autor }} - {{ timeAgo[blog.id].timeAgo }}</p>
                              {{ blog.created_at }}
                              <a href="blog/ver/{{ blog.id }}">
                                   <div class="section" style="padding-top: 0;">
                                        <h2 class="title is-3 has-text-info last-section">
                                             {{ blog.titulo }}
                                        </h2>
                                        <p class="has-text-link has-text-weight-bold is-size-5">
                                             {{ blog.texto_corto }}
                                        </p>
                                   </div>
                              </a>
                              <p class="has-text-link is-size-6 has-text-right">2 vistas | Escribir un comentario</p>
                         </div>
                    </div>
               {% endfor %}
          {% else %}
               <p class="has-text-centered has-text-link has-text-weight-bold is-size-5 is-fullwidth">
                    El blog esta vacio
               </p>
          {% endif %}
     </section>
</div>