<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		Conoce la enfermedad renal crónica
	</h1>
	<section class="section section-title-topbar">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/que-hacen-nuestros-rinones">
						¿Qué hacen nuestros riñones?
					</a>
				</p>
				<figure class="image is-16by9 queHacemos-img center-image">
					<a href="/que-hacen-nuestros-rinones">
						<img src="{{ base_url() }}{{ asset('/public/img/blog5.jpg') }}" class="zoom">
					</a>
				</figure>
			</div>
		</div>
		<div class="columns">
			<div class="column is-6">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/tu-salud-tus-rinones">
						Tu salud, tus riñones
					</a>
				</p>
				<a href="/tu-salud-tus-rinones">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ asset('/public/img/tuSalud.jpg') }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/irc">
						Insuficiencia Renal Crónica
					</a>
				</p>
				<a href="/irc">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ asset('/public/img/IRCinfo.jpg') }}">
					</figure>
				</a>
			</div>
		</div>
		<div class="columns">
			<div class="column is-6">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/causas-principales">
						Causas principales
					</a>
				</p>
				<a href="/causas-principales">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ asset('/public/img/causasInfo.jpg') }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/sintomas">
						Sintomas
					</a>
				</p>
				<a href="/sintomas">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ asset('/public/img/sintomasInfo.jpg') }}">
					</figure>
				</a>
			</div>
		</div>
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<p class="has-text-link font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/tratamientos">
						Tratamientos
					</a>
				</p>
				<figure class="image is-16by9 queHacemos-img center-image">
					<a href="/tratamientos">
						<img src="{{ base_url() }}{{ asset('/public/img/tratamientosInfo.jpg') }}">
					</a>
				</figure>
			</div>
		</div>
	</section>
</div>
