<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">Conoce la enfermedad renal crónica</h1>
     <section class="section section-title-topbar">
          <div class="columns center">
               <div class="column is-12 conoce-column">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         ¿Qué hacen nuestros riñones?
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
          <div class="columns">
               <div class="column is-6">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         Tu salud, tus riñones
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         Insuficiencia Renal Crónica
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
          <div class="columns">
               <div class="column is-6">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         Causas principales
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         Sintomas
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
          <div class="columns center">
               <div class="column is-12 conoce-column">
                    <p class="has-text-link has-text-weight-bold is-size-5 has-text-centered slider__text">
                         Tratamientos
                    </p>
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
     </section>
</div>
