<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Conoce la enfermedad renal crónica
	</h1>
	<section class="section section-title-topbar">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/que-hacen-nuestros-rinones" class="has-green-text-dark">
						¿Qué hacen nuestros riñones?
					</a>
				</p>
				<figure class="image is-16by9 queHacemos-img center-image">
					<a href="/que-hacen-nuestros-rinones">
						<img src="{{ base_url() }}{{ '/public/img/blog5.jpg' }}" class="zoom">
					</a>
				</figure>
			</div>
		</div>
		<div class="columns">
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/costo-de-enfermo" class="has-green-text-dark">
						El costo de un enfermo renal
					</a>
				</p>
				<a href="/costo-de-enfermo">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/tuSalud.jpg' }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/irc" class="has-green-text-dark">
						Insuficiencia Renal Crónica
					</a>
				</p>
				<a href="/irc">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/IRCinfo.jpg' }}">
					</figure>
				</a>
			</div>
		</div>
		<div class="columns">
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/causas-principales" class="has-green-text-dark">
						Causas principales
					</a>
				</p>
				<a href="/causas-principales">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/causasInfo.jpg' }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/sintomas" class="has-green-text-dark">
						Sintomas
					</a>
				</p>
				<a href="/sintomas">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/sintomasInfo.jpg' }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/tratamientos" class="has-green-text-dark">
						Tratamientos
					</a>
				</p>
				<a href="/tratamientos">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/tratamientosInfo.jpg' }}">
					</figure>
				</a>
			</div>
			<div class="column is-6">
				<p class="font-weight-bolder is-size-5 has-text-centered slider__text">
					<a href="/trastorno" class="has-green-text-dark">
						Trastorno y núcleo familiar
					</a>
				</p>
				<a href="/trastorno">
					<figure class="image is-16by9 queHacemos-img">
						<img src="{{ base_url() }}{{ '/public/img/transtornosInfobg.jpg' }}">
					</figure>
				</a>
			</div>
		</div>		
	</section>
</div>
