<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		¿Cómo puedes ayudarnos?
	</h1>
	<section class="section section-title-topbar">
		<p class="has-text-centered is-size-5 has-text-link has-text-weight-bold">
			Juntos podemos mejorar la vida de nuestros pacientes, todos podemos apoyar desde nuestra trinchera, descubre como convertirte en un aliado de este movimiento.
		</p>
	</section>
	<section class="section">
		<div class="columns section">
			<div class="column is-6">
				<figure class="image is-16by9 queHacemos-img">
					<img src="{{ base_url() }}{{ asset('/public/img/donar1.jpg') }}" class="zoom">
				</figure>
			</div>
			<div class="column is-6 center">
				<h2 class="title is-3 has-text-info last-section has-text-centered">
					¡Quiero donar!
				</h2>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-6">
					Si deseas realizar una donación, puedes hacerlo mediante transferencia bancaria a la cuenta:
				</p>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-6">
					Banorte
				</p>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-6">
					xxx-xxx-xxx-xxx <br /> clabe interbancaria xxx-xxx-xxx
				</p>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-6">
					O bien a través de nuestra cuenta de Paypal
				</p>
				<div class="donar">
					{# <a href="/quiero-ayudar">
						<button class="button is-warning has-text-link is-rounded btn__help">
							Donar
						</button>
					</a> #}
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick" />
						<input type="hidden" name="hosted_button_id" value="2LANUFEWLUQY6" />
						<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />
						<img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
					</form>
				</div>
			</div>
		</div>
		<div class="columns section">
			<div class="column is-6 center">
				<h2 class="title is-3 has-text-info last-section has-text-centered">
					¡Voluntariado!
				</h2>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-6">
					Si deseas unirte a la causa, apoyanos con tus datos en el siguiente formulario y nosotros entraremos en contacto contigo:
				</p>
				<form style="width: 100%;">
					<div class="field" style="display: flex; margin-top: 1rem;">
						<label class="label" style="display: flex; width: 17%; align-items: center; margin-bottom: 0;">Nombre: </label>
						<div class="control" style="width: 80%; height: 30px;">
							<input class="input" type="text" placeholder="Text input" style="height: 30px;">
						</div>
					</div>
					<div class="field" style="display: flex; margin-top: 1rem;">
						<label class="label" style="display: flex; width: 17%; align-items: center; margin-bottom: 0;">Edad: </label>
						<div class="control" style="width: 80%; height: 30px;">
							<input class="input" type="text" placeholder="Text input" style="height: 30px;">
						</div>
					</div>
					<div class="field" style="display: flex; margin-top: 1rem;">
						<label class="label" style="display: flex; width: 17%; align-items: center; margin-bottom: 0;">Teléfono: </label>
						<div class="control" style="width: 80%; height: 30px;">
							<input class="input" type="text" placeholder="Text input" style="height: 30px;">
						</div>
					</div>
					<div class="field" style="display: flex; margin-top: 1rem;">
						<label class="label" style="display: flex; width: 17%; align-items: center; margin-bottom: 0;">E-mail: </label>
						<div class="control" style="width: 80%; height: 30px;">
							<input class="input" type="text" placeholder="Text input" style="height: 30px;">
						</div>
					</div>
					<div class="field" style="display: flex; margin-top: 1rem;">
						<label class="label" style="display: flex; width: 17%; align-items: center; margin-bottom: 0;">Red social: </label>
						<div class="control" style="width: 80%; height: 30px;">
							<input class="input" type="text" placeholder="Text input" style="height: 30px;">
						</div>
					</div>
				</form>
			</div>
			<div class="column is-6">
				<figure class="image is-16by9 queHacemos-img">
					<img src="{{ base_url() }}{{ asset('/public/img/donar2.png') }}" class="zoom">
				</figure>
			</div>
		</div>
		<div class="columns section last-section">
			<div class="column is-6">
				<figure class="image is-16by9 queHacemos-img">
					<img src="{{ base_url() }}{{ asset('/public/img/valor1.jpg') }}" class="zoom">
				</figure>
			</div>
			<div class="column is-6 center">
				<h2 class="title is-3 has-text-info last-section has-text-centered">
					¡Apoyo en especie!
				</h2>
				<p class="has-text-centered has-text-link has-text-weight-bold is-size-5">
					Conóce con que tipo de artículos puedes apoyar a Vida Renal.
				</p>
			</div>
		</div>
	</section>
</div>
