<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		¿Cómo puedes ayudarnos?
	</h1>
	<section class="section section-title-topbar">
		<p class="has-text-centered is-size-6 has-text-weight-bold" style="color: #333; opacity: 0.8;">
			Juntos podemos mejorar la vida de nuestros pacientes, todos podemos apoyar desde nuestra trinchera, descubre como convertirte en un aliado de este movimiento.
		</p>
	</section>
	<section class="section">
		<div class="columns section center" style="flex-direction: row;">
			<div class="column is-6 is-1-mobile help_column">
				<figure class="image is-16by9 queHacemos-img" style="box-shadow: 0.5px 0.5px 2px 0 #000;">
					<img src="{{ base_url() }}{{ '/public/img/donar1.jpg' }}" class="zoom">
				</figure>
			</div>
			<div class="column is-6 center is-1-mobile help_column">
				<h2 class="title is-4 has-green-text last-section has-text-centered">
					¡Quiero donar!
				</h2>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					Si deseas realizar una donación, puedes hacerlo mediante transferencia bancaria a la cuenta:
				</p>
				<p 
					class="has-text-centered has-text-link has-text-weight-bold is-size-6"
					style="opacity: 0.8;"
				>
					Banorte
				</p>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					1043904423 <br /> 
					<span class="has-text-link">Clabe interbancaria:</span> 
					072 180 01043904423 2
				</p>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					O bien a través de nuestra cuenta de Paypal
				</p>
				<div class="donar">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick" />
						<input type="hidden" name="hosted_button_id" value="2LANUFEWLUQY6" />
						<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />
						<img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
					</form>
				</div>
			</div>
		</div>
		<div class="columns section center" style="flex-direction: row;">
			<div class="column is-6 center is-1-mobile help_column">
				<h2 class="title is-4 has-green-text last-section has-text-centered">
					¡Voluntariado!
				</h2>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					Si disfrutas hacer algo por los demás, hay muchas maneras,
					intégrate a nuestro gran equipo de voluntarios. Tu ayuda es
					importante y necesaria, compártenos tus datos y nosotros nos
					pondremos en contacto contigo:
				</p>
				<form 
					id="voluntariado_form"
					style="width: 100%; margin-top: 2rem;"
				>
					<div class="columns">
						<div class="column is-12">
							<div class="notification is-primary" style="display: none;" id="message_doneV">
								<span id="message_doneV_text"></span>
							</div>
							<div class="notification is-danger" style="display:none;" id="message_errorV">
								<span id="message_errorV_text"></span>
							</div>
							<div class="field">
								<label
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Nombre completo:
									</span>
								</label>
								<div class="control">
									<input 
										id="nombre"
										class="input" 
										type="text" 
										required
										name="nombre"
										style="height: 32px; color: #333;"
									>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Edad:
									</span>
								</label>
								<div class="control">
									<input 
										id="edad"
										class="input" 
										type="number" 
										required
										name="edad"
										style="height: 32px; color: #333;"
									>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Sexo:
									</span>
								</label>
								<div class="control" style="height: 32px; display: flex; align-items: center;">
									<label class="radio">
    									<input type="radio" style="color: #333;" name="sexo" value="hombre" id="checkHombre">
    									Hombre
  									</label>
  									<label class="radio">
    									<input type="radio" style="color: #333;" name="sexo" value="mujer" id="checkMujer">
										Mujer
									</label>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Teléfono:
									</span>
								</label>
								<div class="control">
									<input 
										id="telefono"
										class="input" 
										type="text" 
										required
										name="telefono"
										style="height: 32px; color: #333;"
									>
								</div>
							</div>
						</div>
						<div class="column is-6">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Correo electrónico:
									</span>
								</label>
								<div class="control">
									<input 
										id="email"
										class="input" 
										type="email" 
										required
										name="email"
										style="height: 32px; color: #333;"
									>
								</div>
							</div>
						</div>
						<div class="column is-12">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Red social:
									</span>
								</label>
								<div class="control">
									<input 
										id="social"
										class="input" 
										type="text" 
										name="social"
										style="height: 32px; color: #333;"
									>
								</div>
							</div>
						</div>
						<div class="column is-12">
							<div class="field">
								<label 
									class="label" 
									style="display: flex; align-items: center; margin-bottom: 0;"
								>
									<span class="has-green-text-dark">
										Mensaje:
									</span>
								</label>
								<textarea 
									id="mensaje"
									class="textarea has-fixed-size" 
									name="mensaje"
									style="color: #333;"
								></textarea>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="control">
   							<button class="button is-link is-fullwidth" type="submit">
							   Enviar mensaje
							</button>
  						</div>
					</div>
				</form>
			</div>
			<div class="column is-6 center is-1-mobile help_column" style="flex-direction: row;">
				<figure class="image is-16by9 queHacemos-img no-zoom">
					<img src="{{ base_url() }}{{ '/public/img/donar2.png' }}" class="no-zoom">
				</figure>
			</div>
		</div>
		<div class="columns section last-section center" style="flex-direction: row;">
			<div class="column is-6 is-1-mobile help_column">
				<figure class="image is-16by9 queHacemos-img">
					<img src="{{ base_url() }}{{ '/public/img/valor1.jpg' }}" class="zoom">
				</figure>
			</div>
			<div class="column is-6 is-1-mobile help_column">
				<h2 class="title is-4 has-green-text last-section has-text-centered">
					¡Apoyo en especie!
				</h2>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					Para apoyarnos, no necesariamente puedes donarnos
					dinero, también puedes realizar aportaciones en especie
					que nosotros haremos llegar a los enfermos, entre las cosas
					que puedes aportar están:
				</p>
				<div class="list" style="margin-top: 1rem;">
					<a class="list-item list-item-apoyo has-green-text-dark">
						Medicamentos para enfermos renales e inmunosupresores
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Material de construcción
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Herramientas de construcción
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Bolsas de diálisis
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Gasas, guantes, spray desinfectante antiséptico
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Vitaminas
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Ropa que sea utilizable
					</a>
					<a class="list-item list-item-apoyo has-green-text-dark">
						Material de oficina para talleres (Hojas de papel, lápices etc)
					</a>
				</div>
				<p 
					class="has-text-centered has-text-weight-bold is-size-6"
					style="color: #333; opacity: 0.8;"
				>
					Nos aseguraremos que los artículos lleguen a quienes y
					donde realmente se necesitan.
				</p>
			</div>
		</div>
	</section>
</div>
