<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">¿Cómo puedes ayudarnos?</h1>
     <section class="section section-title-topbar">
          <p class="has-text-centered is-size-5 has-text-link has-text-weight-semibold">Juntos podemos mejorar la vida de nuestros pacientes, todos podemos apoyar desde nuestra trinchera, descubre como convertirte en un aliado de este movimiento.</p>
     </section>
     <section class="section">
          <div class="columns section">
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6 center">
                    <h2 class="title is-3 has-text-info last-section has-text-centered">
                         ¡Quiero donar!
                    </h2>
                    <p class="has-text-centered has-text-link has-text-weight-bold is-size-5">
                         Tu apoyo es el motor de esta fundación, cada donativo es un símbolo mas de esperanza para nuestros pacientes. 
                    </p>
                    <div class="donar">
                         <a href="/quiero-ayudar">
                              <button class="button is-warning has-text-link is-rounded btn__help">
                                   Ayudanos
                              </button>
                         </a>
                    </div>
               </div>
          </div>
          <div class="columns section">
               <div class="column is-6 center">
                    <h2 class="title is-3 has-text-info last-section has-text-centered">
                         ¡Voluntariado!
                    </h2>
                    <p class="has-text-centered has-text-link has-text-weight-bold is-size-5">
                         Te invitamos a formar de este gran movimiento, necesitamos tu apoyo en eventos o con tu labor.
                    </p>
               </div>
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
          <div class="columns section last-section">
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6 center">
                    <h2 class="title is-3 has-text-info last-section has-text-centered">
                         ¡Apoyo en especie!
                    </h2>
                    <p class="has-text-centered has-text-link has-text-weight-bold is-size-5">
                         Conóce con que tipo de artículos puedes apoyar a Vida Renal.
                    </p>
               </div>
          </div>
     </section>
</div>
