<div class="container">
	<div class="columns header__columns">
		<div class="column is-8 is-flex header__column">
			<figure class="image is-16by9 header__video">
				<video class="has-ratio" controls autoplay>
					<source src="{{ base_url() }}{{ video.video }}" type="video/mp4"/>
				</video>
			</figure>
		</div>
		{{ test }}
		{% if blogs|length < 0 %}
			<div class="column is-4 is-flex header__column" style="justify-content: flex-start;">
		{% else %}
			<div class="column is-4 is-flex header__column">
		{% endif %}
			<h2 class="title is-3 font-weight-bolder">
				<a href="/blog" class="has-text-info" style="font-size: 1.7rem">
					Blog
				</a>
			</h2>
			{% if blogs|length > 0 %}
				{% for blog in blogs %}
					<div class="box blog-box">
						<a href="/blog/ver/{{ blog.id }}">
							<article class="media">
								<div class="media-left">
									<figure class="image is-96x96 blog-img">
										<img 
											src="{{ base_url() }}/public/uploads/{{ blog.imagen }}" 
											alt="{{ blog.titulo }}"
											loading="lazy"
										/>
									</figure>
								</div>
								<div class="media-content">
									<div class="content">
										<p class="has-green-text-dark blog-text">
											{{ blog.titulo|striptags|length > 85 
												? blog.titulo|striptags|slice(0, 85) ~ '...' 
												: blog.titulo|striptags 
											}}
										</p>
									</div>
								</div>
							</article>
						</a>
					</div>
				{% endfor %}
			{% else %}
				<p class="has-text-centered has-green-text has-text-weight-bold is-size-5 is-fullwidth">
					El blog esta vacío.
				</p>
			{% endif %}
		</div>
	</div>

	<section class="section first-section">
		<h3 class="title is-3 has-text-centered section-title font-weight-bolder">
			<span class="has-text-info">
				Nuestras actividades
			</span>
			<p 
				class="has-text-centered is-size-6 has-text-weight-bold" 
				style="margin-top: 1em; color: #333; opacity: .85;"
			>
				Fundación Vida Renal ofrece una amplia gama de servicios y actividades que te ayudaran 
				a mejorar tus condiciones como paciente:
			</p>
		</h3>

		<div class="swiper-container swiper-no_slider first-section">
			<div class="swiper-wrapper">
				{% if actividades|length > 0 %}
					{% for actividad in actividades %}
						<div 
							class="swiper-slide is-clipped tooltip" 
							data-tippy-content="{{ actividad.titulo }}" 
							data-swiper-autoplay="4000" 
							style="cursor: pointer;"
						>
							<a href="/actividad-ver/{{ actividad.id }}" style="height: 100%;">
								<img 
									src="{{ base_url() }}/public/uploads/{{ actividad.imagen }}" 
									alt="{{ actividad.titulo }}" 
									class="image slider__img zoom"
									loading="lazy"
								/>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<p class="has-text-centered has-green-text has-text-weight-bold is-size-5 is-fullwidth">
						No hay actividades próximamente.
					</p>
				{% endif %}
			</div>
		</div>
	</section>

	<section class="section slider__section">
		<h3 class="title is-3 has-text-centered section-subtitle has-text-info font-weight-bolder">
			Servicios
		</h3>

		<div class="swiper-container" id="swiper">
			<div class="swiper-wrapper">
				{% if servicios|length > 0 %}
					{% for servicio in servicios %}
						<div class="swiper-slide is-flex slider__content" data-swiper-autoplay="4000">
							<img 
								src="{{ base_url() }}/public/uploads/{{ servicio.imagen }}" 
								alt="{{ servicio.titulo }}"
								class="image slider__img"
								loading="lazy"
							/>
							<p class="has-green-text-dark font-weight-bolder slider__text" style="opacity: 0.8;">
								{{ servicio.titulo }}
							</p>
						</div>
					{% endfor %}
				{% else %}
					<p class="has-text-centered has-green-text has-text-weight-bold is-size-5 is-fullwidth">
						No hay servicios.
					</p>
				{% endif %}
			</div>
		</div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</section>

	<section class="section last-section">
		<h3 class="title is-3 has-text-centered section-subtitle has-text-info font-weight-bolder">
			<span class="has-text-info">
				Proximos eventos
			</span>
			<p 
				class="has-text-centered is-size-6 has-text-weight-bold" 
				style="margin-top: 1em; color: #333; opacity: .85;"
			>
				Estos son los próximos eventos que tenemos programados, regístrate y asiste “Cupo limitado”.
			</p>
		</h3>

		<div class="swiper-container swiper-no_slider first-section">
			<div class="swiper-wrapper">
				{% if eventos|length > 0 %}
					{% for evento in eventos %}
						<div 
							class="swiper-slide is-clipped tooltip" 
							data-tippy-content="{{ evento.titulo }}" 
							data-swiper-autoplay="4000" 
							style="cursor: pointer;"
							loading="lazy"
						>
							<a href="/evento-ver/{{ evento.id }}" style="height: 100%;">
								<img 
									src="{{ base_url() }}/public/uploads/{{ evento.imagen }}" 
									alt="imagen Nuestros eventos" 
									class="image slider__img zoom"
								/>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<p class="has-text-centered has-green-text has-text-weight-bold is-size-5 is-fullwidth">
						No hay eventos próximamente.
					</p>
				{% endif %}
			</div>
		</div>
	</section>
</div>
