<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		¿Quienes somos?
	</h1>
	<h2 class="title section-title-topbar is-4 has-green-text" style="padding-top: 1rem;">
		Historia
	</h2>
	<section class="section has-background-link" style="border-radius: 4px;">
		<p class="has-text-white has-text-centered is-size-6" style="opacity: 0.95;">
			Fundación Vida Renal es una Asociación Civil creada en 2019 con la intención de apoyar exclusivamente a los enfermos con Insuficiencia renal crónica de bajos recursos. Trabajamos en la prevención, difusión, talleres, programas, actividades y apoyo con artículos como medicina y/o material de curación con el objetivo de mejorar la calidad de vida de pacientes y familiares, por medio de un apoyo humano, integral y oportuno.
		</p>
	</section>
	<section class="section last-section quienesSomos__Section"> 
		<div class="columns">
			<div class="column is-6 is-flex card-column">
				<div class="card card-container">
					<div class="card-content" style="padding: 0;">
						<div class="content">
							<p 
								class="has-text-centered has-green-text is-size-5 has-text-weight-bold is-uppercase"
								style="margin: 0.5rem !important; paffing: 0 !important;"
							>
								Misión
							</p>
						</div>
					</div>
					<div class="card-image">
						<figure class="image is-4by5 responsive-img is-link">
							<img src="{{ base_url() }}{{ '/public/img/mision.jpg' }}" alt="Misión"/>
						</figure>
					</div>
					<div class="card-content">
						<div class="content">
							<p style="color: #333; text-align: justify;">
								Generar bienestar y condiciones propicias para mejorar la
								calidad de vida y pronta y en lo posible recuperación de los
								pacientes de escasos recursos económicos con enfermedades
								renales crónicas, así como de sus familiares y entorno social
								mediante una atención médica integral de alta calidad y diversas
								estrategias y acciones coordinadas enfocadas en la prevención,
								detección oportuna, diagnóstico preciso, intervención, desarrollo
								e investigación de nuevas técnicas y tratamientos para dichas
								enfermedades.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-6 is-6 is-flex card-column">
				<div class="card card-container">
					<div class="card-content" style="padding: 0;">
						<div class="content">
							<p 
								class="has-text-centered has-green-text is-size-5 has-text-weight-bold is-uppercase"
								style="margin: 0.5rem !important; paffing: 0 !important;"
							>
								Visión
							</p>
						</div>
					</div>
					<div class="card-image">
						<figure class="image is-4by5 responsive-img is-link">
							<img src="{{ base_url() }}{{ '/public/img/vision.jpg' }}" alt="Visión"/>
						</figure>
					</div>
					<div class="card-content">
						<div class="content">
							<p style="color: #333; text-align: justify;">
								Ser la mejor institución de apoyo a nivel nacional para el
								fomento de una cultura de prevención y ayuda de los
								pacientes con enfermedades renales crónicas y su entorno
								familiar y social, dignificando su vida y tratamiento para
								construir nuevas y mejores oportunidades para su desarrollo
								vital.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<h3 class="title section-title-topbar is-4 has-green-text last-section" style="margin-top: 2rem;">
		Valores
	</h3>
	<section class="section first-section">
		<div class="columns is-flex section-valores" style="justify-content: center;">
			<div class="column is-2-desktop is-3-tablet is-4-mobile center valor__grid">
				<div class="box valor-box has-background-link is-relative">
					<p class="has-text-weight-bold is-uppercase has-green-text-dark center" style="margin-bottom: 10px; z-index: 10; position: relative;">
						Respeto
					</p>
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ '/public/img/valor1.jpg' }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						Por la vida y la integridad de las personas.
					</p>
				</div>
			</div>
			<div class="column is-2-desktop is-3-tablet is-4-mobile center valor__grid">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word; width: 100%;">
					<p class="has-text-weight-bold is-uppercase has-green-text-dark center" style="margin-bottom: 10px; z-index: 10; position: relative;">
						Union
					</p>
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ '/public/img/valor2.jpg' }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						Que se comparta a mas grupos y familias.
					</p>
				</div>
			</div>
			<div class="column is-2-desktop is-3-tablet is-4-mobile center valor__grid">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word; width: 100%;">
					<p class="has-text-weight-bold is-uppercase has-green-text-dark center" style="margin-bottom: 10px; z-index: 10; position: relative;">
						Empatía
					</p>
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ '/public/img/valor3.jpg' }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						Para no solo atender, sino entender  la situación y sentir del ser humano.
					</p>
				</div>
			</div>
			<div class="column is-2-desktop is-3-tablet is-4-mobile center valor__grid">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word; width: 100%;">
					<p class="has-text-weight-bold is-uppercase has-green-text-dark center" style="margin-bottom: 10px; z-index: 10; position: relative;">
						Servicio
					</p>
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ '/public/img/valor4.jpg' }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						Que sea accesible a la población.
					</p>
				</div>
			</div>
			<div class="column is-2-desktop is-3-tablet is-4-mobile center valor__grid">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word; width: 100%;">
					<p class="has-text-weight-bold is-uppercase has-green-text-dark center" style="margin-bottom: 10px; z-index: 10; position: relative;">
						Compromiso
					</p>
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ '/public/img/valor5.jpg' }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						Con la salud mexicana.
					</p>
				</div>
			</div>
		</div>
	</section>

	<h3
		class="title section-title-topbar is-4 has-green-text last-section"
		style="margin-top: 1rem;"
	>
		Objetivos
	</h3>
	<section class="section section-margin-bottom">
		<div class="columns">
			<div class="column is-6">
				<h4 class="title section-title-topbar is-5 font-weight-bolder has-text-centered has-green-text-dark last-section">
					General
				</h4>
				<p 
					class="has-text-centered has-text-weight-bold" 
					style="color: #333; opacity: 0.8; font-size: 1.2rem; padding-left: 1.5rem; padding-right: 1.5rem;"
				>
					Ayudar a las personas con ERC (Enfermedad Renal Crónica) a mejorar su calidad de vida, incentivando a la prevención y atención médica integral para las personas con ERC.
				</p>
			</div>
			<div class="column is-6">
				<h4 class="title section-title-topbar is-5 has-text-centered font-weight-bolder has-green-text-dark last-section">
					Específicos
				</h4>
				<p 
					class="has-text-centered has-text-weight-bold" 
					style="color: #333; opacity: 0.8; font-size: 1.2rem; padding-left: 1.5rem; padding-right: 1.5rem; padding-bottom: 2rem;"
				>
					Crear programas de prevención, para la difusión de informacion relevante sobre ERC (Enfermedad Renal Crónica), creando concientización y ayudando a las personas a sobrellevar la enfermedad.
				</p>
			</div>
		</div>
	</section>
</div>
