<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		¿Quienes somos?
	</h1>
	<h2 class="title section-title-topbar is-3 has-text-info">
		Historia
	</h2>
	<section class="section has-background-link">
		<p class="has-text-white has-text-centered is-size-5">
			Fundación Vida Renal A.C fue fundada en 2019 como iniciativa del familiar de un paciente con enfermedad renal crónica, orientada a la prevención e intervención en la población mexicana con el objetivo de mejorar la calidad de vida de pacientes y familiares. Por medio de un apoyo humano, integral y oportuno.
		</p>
	</section>
	<section class="section last-section quienesSomos__Section">
		<div class="columns">
			<div class="column is-6 is-flex card-column">
				<div class="card card-container">
					<div class="card-image">
						<figure class="image is-4by5 responsive-img has-background-white">
							<img src="{{ base_url() }}{{ asset('/public/img/mision.jpg') }}" alt="Placeholder image"/>
						</figure>
					</div>
					<div class="card-content">
						<div class="content">
							<p class="has-text-centered has-text-info has-text-weight-bold is-uppercase">
								Misión
							</p>
							<p class="has-text-centered">
								Otorgar servicios de alta calidad, mediante una atención personalizada a quienes padecen enfermedades renales crónicas y sus familiares por medio de estrategias y acciones enfocadas a la prevención, detección oportuna e intervención en personas de medios y bajos recursos para mejorar su calidad de vida.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-6 is-6 is-flex card-column">
				<div class="card card-container">
					<div class="card-image">
						<figure class="image is-4by5 responsive-img has-background-white">
							<img src="{{ base_url() }}{{ asset('/public/img/vision.jpg') }}" alt="Placeholder image"/>
						</figure>
					</div>
					<div class="card-content">
						<div class="content">
							<p class="has-text-centered has-text-info has-text-weight-bold is-uppercase">
								Visión
							</p>
							<p class="has-text-centered">
								Fomentar la cultura de prevención de enfermedades renales, dignifica la vida de los pacientes y familiares por medio de estrategias para otorgar una segunda oportunidad a la vida.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<h3 class="title section-title-topbar is-3 has-text-info last-section">
		Valores
	</h3>
	<section class="section first-section is-hidden-mobile">
		<div class="columns is-flex flex-columns section-valores">
			<div class="column is-2">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor1.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold is-lowercase">
						<span class="is-uppercase">
							Respeto
						</span>
						por la vida y la integridad de las personas.
					</p>
				</div>
			</div>
			<div class="column is-2">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor2.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Union
						</span>
						que se comparta a mas grupos y familias.
					</p>
				</div>
			</div>
			<div class="column is-2">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor3.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Empatía
						</span>
						para no solo atender, sino entender  la situación y sentir del ser humano.
					</p>
				</div>
			</div>
			<div class="column is-2">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor4.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Servicio
						</span>
						que sea accesible a la población.
					</p>
				</div>
			</div>
			<div class="column is-2">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor5.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Compromiso
						</span>
						con la salud mexicana.
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Movil -->
	<section class="section first-section is-hidden-tablet">
		<div class="columns is-flex flex-columns section-valores">
			<div class="column is-6">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor1.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Respeto
						</span>
						por la vida y la integridad de las personas.
					</p>
				</div>
			</div>
			<div class="column is-6">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor2.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Union
						</span>
						que se comparta a mas grupos y familias.
					</p>
				</div>
			</div>
		</div>
		<div class="columns is-flex flex-columns section-valores">
			<div class="column is-6">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor3.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold=">
						<span class="is-uppercase">
							Empatía
						</span>
						para no solo atender, sino entender  la situación y sentir del ser humano.
					</p>
				</div>
			</div>
			<div class="column is-6">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor4.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Servicio
						</span>
						que sea accesible a la población.
					</p>
				</div>
			</div>
		</div>
		<div class="columns is-flex flex-columns section-valores">
			<div class="column is-6">
				<div class="box valor-box has-background-link is-relative" style="word-break: break-word;">
					<figure class="image is-square valor-box__img">
						<img src="{{ base_url() }}{{ asset('/public/img/valor5.jpg') }}" alt="valor"/>
					</figure>
					<p class="valor-box__text has-text-weight-bold">
						<span class="is-uppercase">
							Compromiso
						</span>
						con la salud mexicana.
					</p>
				</div>
			</div>
			<div class="column is-6"></div>
		</div>
	</section>

	<section class="section section-margin-bottom">
		<h3 class="title section-title-topbar is-3 has-text-info last-section">
			<i class="fas fa-lightbulb objective-icon has-text-centered has-text-link"></i>
			Objetivos
		</h3>
		<div class="columns">
			<div class="column is-6">
				<h4 class="title section-title-topbar is-4 font-weight-bolder has-text-centered is-italic has-text-info last-section">
					General
				</h4>
				<p class="has-text-centered has-text-link is-size-5 has-text-weight-bold">
					Ayudar a las personas con ERC (Enfermedad Renal Crónica) a mejorar su calidad de vida, incentivando a la prevención y atención médica integral para las personas con ERC.
				</p>
			</div>
			<div class="column is-6">
				<h4 class="title section-title-topbar is-4 has-text-centered is-italic font-weight-bolder has-text-info last-section">
					Específicos
				</h4>
				<p class="has-text-centered has-text-weight-bold has-text-link is-size-5">
					Crear programas de prevención, para la difusión de informacion relevante sobre ERC (Enfermedad Renal Crónica), creando concientización y ayudando a las personas a sobrellevar la enfermedad.
				</p>
			</div>
		</div>
	</section>
</div>
