<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">Testimonios</h1>
     <section class="section section-title-topbar">
          <p class="has-text-centered is-size-5 has-text-link has-text-weight-bold">
               Bienvenidos, en este apartado puedes conocer las historias de los pacientes que son parte de Fundación Vida Renal FVR y también puedes compartir tu historia, ya que para nosotros es importante que puedas expresar y conocer la historia del resto.
            </p>
     </section>
     <div class="section">
          <div class="columns">
               <div class="column is-12">
                    <figure class="image is-16by9 header__video">
                         <video class="has-ratio testimonios-video" controls autoplay muted>
                              <source src="{{ base_url() }}{{ asset('/public/video/video.mp4') }}" type="video/mp4" />
                         </video>
                    </figure>
               </div>
          </div>
          <div class="columns">
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
          <div class="columns">
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
               <div class="column is-6">
                    <figure class="image is-16by9 queHacemos-img">
                         <img src="{{ base_url() }}{{ asset('/public/icons/img.jpg') }}">
                    </figure>
               </div>
          </div>
     </div>
</div>
