<div class="container main-admin">
	<h1 class="title is-2 section has-text-info section-title has-text-centered">
		Ingresos - {{ month }} / {{ year }}
	</h1>
	<div class="columns">
		<div class="column is-11">
			<a href="/admin/transparencia">
                <button class="button is-primary has-text-weight-bold">
                    <i class="fas fa-chevron-left" style="margin-right: 7px;"></i> 
					Volver
                </button>
            </a>
		</div>
		<div class="column is-1 has-text-centered has-text-info font-weight-bolder" style="font-size: 1rem;">
			{{ total_rows }} registros
		</div>
		<div class="column is-9">
			<table class="table is-bordered is-striped is-fullwidth">
				<thead>
					<tr>
						<th>Número de donador</th>
						<th>Nombre</th>
						<th>Tipo de donador</th>
						<th>Cantidad</th>
						<th>Especie</th>
						<th>Monto aproximado de lo donado</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody id="ingresos_tbody">
					{% for ingreso in ingresos %}
						<tr>
							<td>{{ ingreso.id }}</td>
							<td>{{ ingreso.nombre }}</td>
							<td>{{ ingreso.tipo }}</td>
							<td>$ {{ ingreso.cantidad }}</td>
							<td>{{ ingreso.especie}}</td>
							<td>$ {{ ingreso.especie_cantidad }}</td>
							<td class="has-text-centered">
								<a href="/admin/actualizar/ingresos/{{ ingreso.id }}/{{ month }}/{{ year }}">
									<button class="button is-primary has-text-weight-bold is-fullwidth" style="margin-right: .5rem; margin-bottom: 0.5rem;">
										<i class="fas fa-edit"></i>
									</button>
                    		</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="column is-3">
			<div class="table-container">
				<table class="table is-bordered is-striped is-fullwidth">
					<thead>
						<tr>
							<th class="has-text-centered">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>$ {{ sum_ingresos|length > 0 ? sum_ingresos : 0 }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin-top: 2rem;">
		<a class="pagination-previous" 
			{% if prev <= 0 %}
				{{'disabled'}}
			{% else %}
				href="/admin/ingresos/{{ month }}/{{ year }}?page={{ prev }}"
			{% endif %}>
			<i class="fas fa-chevron-left"></i>
		</a>
		<a class="pagination-next"
			{% if next > totalPages %}
				{{'disabled'}}
			{% else %}
				href="/admin/ingresos/{{ month }}/{{ year }}?page={{ next }}"
			{% endif %}>
			<i class="fas fa-chevron-right"></i>
		</a>
		<ul class="pagination-list">
			{% for i in 1..totalPages %}
				{% if i <= 20 %}
					<li>
						<a class="pagination-link 
							{% if i == page %}
								is-current
							{% endif %}" 
						aria-label="Goto page {{i}}" href="/admin/ingresos/{{ month }}/{{ year }}?page={{i}}">{{i}}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<a href="/admin/ingresos/{{ month }}/{{ year }}?page={{i}}">{{i}}</a>
</div>