<div class="container main-admin">
	<h1 class="title is-2 section has-text-info section-title has-text-centered">
		Servicios
	</h1>
    <button class="button is-info section-margin-bottom has-text-weight-bold" id="create">
		Nuevo Servicio
	</button>
    {% if mensajes.done|length > 0 %}
		<div class="notification is-primary" id="message">
			<button class="delete"></button>
			{{ mensajes.done[0] }}
		</div>
	{% endif %}
	{% if mensajes.errorNoform|length > 0 %}
		<div class="notification is-danger" id="message">
			<button class="delete"></button>
			{{ mensajes.errorNoform[0] }}
		</div>
	{% endif %}
	{% if mensajes.error_update|length > 0 %}
		<div class="notification is-danger" id="message">
			<button class="delete"></button>
			{{ mensajes.error_update[0] }}
		</div>
	{% endif %}
    {% if servicios|length > 0 %}
		<div class="columns">
			{% for servicio in servicios %}
                <div class="column is-3 center">
					<div class="box is-fullwidth admin-box">
						<article class="media center" style="flex-direction: column;">
							<figure class="image is-16by9 blog-img has-background-grey-dark" style="width: 100%;">
								<img src="{{ base_url() }}/public/uploads/{{ asset(servicio.imagen) }}" alt="Actividad" style="opacity: 0.8"/>
							</figure>
							<div class="content center" style="height: 50px;">
								<p class="footer__text has-text-centered has-text-link">
									{{ servicio.titulo }}
								</p>
							</div>
							<button class="update-btn button is-primary is-fullwidth has-text-weight-bold" id="update-{{servicio.id}}">
								Editar
								<i class="fas fa-edit" style="margin: 0;"></i>
							</button>

							<button class="delete-btn button is-danger is-fullwidth has-text-weight-bold" id="delete-{{servicio.id}}">
								Eliminar
								<i class="fas fa-trash-alt" style="margin: 0;"></i>
							</button>
						</article>
					</div>
				</div>
            {% endfor %}
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination" style="margin-top: 2rem;">
            <a class="pagination-previous" 
				{% if prev <= 0 %}
					{{'disabled'}}
				{% else %}
					href="/admin/servicios?page={{ prev }}"
				{% endif %}>
				<i class="fas fa-chevron-left"></i>
            </a>
			<a class="pagination-next"
				{% if next > totalPages %}
					{{'disabled'}}
				{% else %}
					href="/admin/servicios?page={{ next }}"
				{% endif %}>
				<i class="fas fa-chevron-right"></i>
			</a>
			<ul class="pagination-list">
				{% for i in 1..totalPages %}
					{% if i <= 20 %}
						<li>
							<a class="pagination-link 
								{% if i == page %}
									is-current
								{% endif %}" 
							aria-label="Goto page {{i}}" href="/admin/servicios?page={{i}}">{{i}}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
		<a href="/admin/servicios?page={{i}}">{{i}}</a>
    {% else %}
        <p class="has-text-centered has-text-link has-text-weight-bold is-size-5 is-fullwidth">
			No hay Servicios
		</p>
    {% endif %}
</div>
{# Crear servicio #}
<div id="form-container" style="{% if mensajes.error|length > 0 %} top: 0; {% endif %}">
	<form action="/admin/servicios" method="POST" enctype="multipart/form-data" id="form" style="justify-content: space-evenly;">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Crear Servicio
		</h2>
		{% if mensajes.error|length > 0 %}
			<p class="help has-text-danger" id="message">
				{{ mensajes.error[0] }}
			</p>
		{% endif %}
		<div class="field">
			<label class="label" for="titulo">
				Titulo:
			</label>
			<div class="control">
				<input class="input" type="text" name="titulo" value="{{ old.titulo }}">
			</div>
		</div>
		<div class="field">
			<div class="file has-name" id="fileJs">
				<label class="file-label" for="file">
					<input class="file-input" type="file" name="imagen" id="file" value="{{ oldImage }}">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fas fa-upload"></i>
						</span>
						<span class="file-label has-background-light">
							Imagen:
						</span>
					</span>
					<span class="file-name has-background-white">
						Imagen no seleccionada.
					</span>
				</label>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<button class="button is-link" type="submit">
					Agregar
				</button>
				<button class="button is-light" id="close">
					Cerrar
				</button>
			</div>
		</div>
	</form>
</div>

{# Actializar Servicio #}
<div id="form-container--update">
	<form action="/admin/servicios" method="POST" enctype="multipart/form-data" id="form--update" style="justify-content: space-evenly;">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Actualizar Servicio
		</h2>
		<input type="hidden" name="_METHOD" value="PUT"/>
		<div class="field">
			<label class="label" for="titulo">
				Titulo:
			</label>
			<div class="control">
				<input class="input" type="text" name="titulo" id="titulo">
			</div>
		</div>
		<div class="field">
			<div id="fileJsUpdate" class="file has-name">
				<label class="file-label" for="fileUpdate">
					<input class="file-input" type="file" name="imagen" id="fileUpdate">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fas fa-upload"></i>
						</span>
						<span class="file-label has-background-light">
							Imagen:
						</span>
					</span>
					<span class="file-name has-background-white">
						Imagen no seleccionada.
					</span>
				</label>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<button class="button is-link update" type="submit">
					Actualizar
				</button>
				<button class="button is-light" id="close-update">
					Cerrar
				</button>
			</div>
		</div>
	</form>
</div>