<div class="container main-admin">
	<h1 class="title is-2 section has-text-info section-title has-text-centered">
		Transparencia
	</h1>
    <h2 class="title is-4 has-green-text last-section">
        Ingresos de Fundación Vida Renal - {{ 'now' | date('Y') }}
    </h2>
    <form>
        <div class="columns">
            <div class="column is-3">
                {% set month = 'now' | date('m') %}
                <label class="label has-text-dark" for="transparencia_mes">
                    Mes:
                </label>
                <div class="select is-fullwidth" name="transparencia_mes" id="transparencia_mes">
                    <select class="is-fullwidth" id="select_mes">
                        <option value="01" {{ month == '01' ? 'selected' : '' }}>Enero</option>
                        <option value="02" {{ month == '02' ? 'selected' : '' }}>Febrero</option>
                        <option value="03" {{ month == '03' ? 'selected' : '' }}>Marzo</option>
                        <option value="04" {{ month == '04' ? 'selected' : '' }}>Abril</option>
                        <option value="05" {{ month == '05' ? 'selected' : '' }}>Mayo</option>
                        <option value="06" {{ month == '06' ? 'selected' : '' }}>Junio</option>
                        <option value="07" {{ month == '07' ? 'selected' : '' }}>Julio</option>
                        <option value="08" {{ month == '08' ? 'selected' : '' }}>Agosto</option>
                        <option value="09" {{ month == '09' ? 'selected' : '' }}>Septiembre</option>
                        <option value="10" {{ month == '10' ? 'selected' : '' }}>Octubre</option>
                        <option value="11" {{ month == '11' ? 'selected' : '' }}>Noviembre</option>
                        <option value="12" {{ month == '12' ? 'selected' : '' }}>Diciembre</option>
                    </select>
                </div>
            </div>
            <div class="column is-3">
                {% set year = 'now' | date('Y') %}
                <label class="label has-text-dark" for="transparencia_anio">
                    Año:
                </label>
                <div class="select is-fullwidth" name="transparencia_anio" id="transparencia_anio">
                    <select class="is-fullwidth" id="select_anio">
                        <option hidden disabled selected>---</option>
                        {% for año in lista_años %}
                        <option value="{{ año.year }}" {{ año.year ==  year ? 'selected' : ''}}>
                            {{ año.year }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="column is-2">
                <div style="height: 32px;"></div>
                <button class="button is-link has-text-weight-bold" id="search_transparencia">
				    Buscar
			    </button> 
            </div>
            <div class="column is-3">
                <div style="height: 32px;"></div>
                <p 
                    id="ingreso_busqueda_error" 
                    class="has-text-danger {{ ingresos|length > 0 ? 'is-hidden' : '' }}"
                >
                    No hay información disponible
                </p>
            </div>
        </div>
    </form>
    {% if mensajes.done|length > 0 %}
    <div class="notification is-primary" id="message" style="margin-top: 1rem;">
        <button class="delete"></button>
        {{ mensajes.done[0] }}
    </div>
	{% endif %}
	<div class="columns">
        <div class="column is-12">
			<button 
                id="create"
                style="margin-right: .5rem;" 
                class="button is-info has-text-weight-bold button_ingreso"
            />
				Nuevo Ingreso
			</button> 
			<a id="ingresos_lista_link" href="/admin/ingresos/{{ 'now' | date('m') }}/{{ 'now' | date('Y') }}">
                <button class="button is-primary has-text-weight-bold button_ingreso" {{ ingresos|length <= 0 ? 'disabled' : '' }}>
                    Lista completa de ingresos
                </button>
            </a>
		</div>
        <div class="column is-3">
			<table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Tipo de donador</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donador Persona fisica</td>
                        <td id="porcentaje_tipo1">{{ porcentaje_1 }}%</td>
                    </tr>
                    <tr>
                        <td>Donador empresas</td>
                        <td id="porcentaje_tipo2">{{ porcentaje_2 }}%</td>
                    </tr>
                    <tr>
                        <td>Donador Anónimo</td>
                        <td id="porcentaje_tipo3">{{ porcentaje_3 }}%</td>
                    </tr>
                    <tr>
                        <td>Donador en Especie</td>
                        <td id="porcentaje_tipo4">{{ porcentaje_4 }}%</td>
                    </tr>
                </tbody>
            </table>
		</div>
        <div class="column is-9">
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" style="line-height: normal">
                    <thead>
                        <tr>
                            <th>Número de donador</th>
                            <th>Nombre</th>
                            <th>Tipo de donador</th>
                            <th>Cantidad</th>
                            <th>Especie</th>
                            <th>Monto aproximado de lo donado</th>
                        </tr>
                    </thead>
                    <tbody id="ingresos_tbody">
                        {% for ingreso in ingresos %}
                            <tr>
                                <td>{{ ingreso.id }}</td>
                                <td>{{ ingreso.nombre }}</td>
                                <td>{{ ingreso.tipo }}</td>
                                <td>$ {{ ingreso.cantidad }}</td>
                                <td>{{ ingreso.especie}}</td>
                                <td>$ {{ ingreso.especie_cantidad }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
		</div>
    </div>
    <h2 class="title is-4 has-green-text last-section">
        Egresos de Fundación Vida Renal - {{ 'now' | date('Y') }}
    </h2>
    <form>
        <div class="columns">
            <div class="column is-3">
                {% set month = 'now' | date('m') %}
                <label class="label has-text-dark" for="transparencia_egresos_mes">
                    Mes:
                </label>
                <div class="select is-fullwidth" name="transparencia_egresos_mes" id="transparencia_egresos_mes">
                    <select class="is-fullwidth" id="select_egresos_mes">
                        <option value="01" {{ month == '01' ? 'selected' : '' }}>Enero</option>
                        <option value="02" {{ month == '02' ? 'selected' : '' }}>Febrero</option>
                        <option value="03" {{ month == '03' ? 'selected' : '' }}>Marzo</option>
                        <option value="04" {{ month == '04' ? 'selected' : '' }}>Abril</option>
                        <option value="05" {{ month == '05' ? 'selected' : '' }}>Mayo</option>
                        <option value="06" {{ month == '06' ? 'selected' : '' }}>Junio</option>
                        <option value="07" {{ month == '07' ? 'selected' : '' }}>Julio</option>
                        <option value="08" {{ month == '08' ? 'selected' : '' }}>Agosto</option>
                        <option value="09" {{ month == '09' ? 'selected' : '' }}>Septiembre</option>
                        <option value="10" {{ month == '10' ? 'selected' : '' }}>Octubre</option>
                        <option value="11" {{ month == '11' ? 'selected' : '' }}>Noviembre</option>
                        <option value="12" {{ month == '12' ? 'selected' : '' }}>Diciembre</option>
                    </select>
                </div>
            </div>
            <div class="column is-3">
                {% set year = 'now' | date('Y') %}
                <label class="label has-text-dark" for="transparencia_egresos_anio">
                    Año:
                </label>
                <div class="select is-fullwidth" name="transparencia_egresos_anio" id="transparencia_egresos_anio">
                    <select class="is-fullwidth" id="select_egresos_anio">
                    <option hidden disabled selected>---</option>
                        {% for año in lista_años_egresos %}
                        <option value="{{ año.year }}" {{ año.year ==  year ? 'selected' : ''}}>
                            {{ año.year }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="column is-2">
                <div style="height: 32px;"></div>
                <button class="button is-link has-text-weight-bold" id="search_transparencia_egresos">
				    Buscar
			    </button> 
            </div>
            <div class="column is-3">
                <div style="height: 32px;"></div>
                <p 
                    id="egreso_busqueda_error" 
                    class="has-text-danger {{ egresos|length > 0 ? 'is-hidden' : '' }}"
                >
                    No hay información disponible
                </p>
            </div>
        </div>
    </form>
    <div class="columns">
        <div class="column is-12">
			<button 
                class="button is-info has-text-weight-bold button_egreso" 
                style="margin-right: .5rem;" 
                id="egreso_modal"
            >
				Nuevo Egreso
			</button>
            <a id="egresos_lista_link" href="/admin/egresos/{{ 'now' | date('m') }}/{{ 'now' | date('Y') }}">
                <button 
                    class="button has-text-weight-bold button_egreso is-primary" 
                    id="egresos_lista_link" 
                    style="margin-right: .5rem;" 
                    {{ egresos|length <= 0 ? 'disabled' : '' }}
                >
                    Lista completa de Egresos
                </button>
            </a>
		</div>
        <div class="column is-12">
            <div class="columns">
                <div class="column is-3">
                    <label class="label has-text-dark" for="gastos_fijos">
                        Monto de gastos fijos del mes:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="gastos_fijos" value="{{ sum_gastos_fijos }}" placeholder="Gastos fijos" readonly id="gastos_fijos">
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
                <div class="column is-1">
                    <div style="margin-bottom: 31px;"></div>
                    <a href="/admin/gastos-fijos/{{ 'now' | date('m') }}/{{ 'now' | date('Y') }}">
                        <button class="button is-info has-text-weight-bold" style="margin-right: .5rem;">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                </div>
                <div class="column is-3">
                    <label class="label has-text-dark" for="sueldos">
                        Monto de sueldos del mes:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="sueldos" value="{{ sum_sueldos }}" placeholder="Sueldos" readonly id="sueldo">
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
                <div class="column is-1">
                    <div style="margin-bottom: 31px;"></div>
                    <a href="/admin/sueldos/{{ 'now' | date('m') }}/{{ 'now' | date('Y') }}">
                        <button class="button is-info has-text-weight-bold" style="margin-right: .5rem;">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                </div>
                <div class="column is-4" style="text-align: end;">
                    <div style="margin-bottom: 31px;"></div>
                    <button class="button is-info has-text-weight-bold" id="tipo_egreso_modal">
                        Editar tipo de egresos
                    </button>
                </div> 
            </div>
        </div>
        <div class="column is-12">
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" style="line-height: normal">
                    <thead>
                        <tr>
                            <th>Numero de afiliado</th>
                            <th>Nombre del paciente</th>
                            <th>Tipo de consulta</th>
                            <th>Costo</th>
                            <th>Talleres</th>
                            <th>Costo</th>
                            <th>Insumos</th>
                            <th>Costo</th>
                            <th>Medicamentos</th>
                            <th>Costo</th>
                            <th>Laboratorios</th>
                            <th>Costo</th>
                            <th>Conferencias</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody id="egresos_tbody">
                        {% for egreso in egresos %}
                            <tr>
                                <td>{{ egreso.id }}</td>
                                <td>{{ egreso.nombre }}</td>
                                <td>{{ egreso.tipo_consulta }}</td>
                                <td>${{ egreso.consulta_costo }}</td>
                                <td>{{ egreso.taller }}</td>
                                <td>${{ egreso.costo_taller }}</td>
                                <td>{{ egreso.insumos }}</td>
                                <td>${{ egreso.costo_insumos }}</td>
                                <td>{{ egreso.medicamentos }}</td>
                                <td>${{ egreso.costo_medicamentos }}</td>
                                <td>{{ egreso.laboratorios }}</td>
                                <td>${{ egreso.costo_laboratorios }}</td>
                                <td>{{ egreso.conferencias }}</td>
                                <td>${{ egreso.costo_conferencias }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{# Crear Ingreso #}
<div id="form-container" style="{% if mensajes.error|length > 0 %} top: 0; {% endif %}">
	<form action="/admin/transparencia" method="POST" enctype="multipart/form-data" id="form">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Nuevo ingreso
		</h2>
		{% if mensajes.error|length > 0 %}
			<p class="help has-text-danger" id="message">
				{{ mensajes.error[0] }}
			</p>
		{% endif %}
		<div class="field">
			<label class="label" for="nombre">
				Nombre: <span class="has-text-info">*</span>
			</label>
			<div class="control">
				<input class="input" type="text" name="nombre" value="{{ old.nombre }}">
			</div>
		</div>
        <div class="columns is-fullwidth">
            <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_donador">
                        Tipo de donador: <span class="has-text-info">*</span>
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_donador" name="tipo_donador">
                                <option hidden selected disabled>Selecciona una opción</option>
                                {% for tipo_donador in tipo_donadores %}
                                    <option value="{{ tipo_donador.id_tipo_donador }}">
                                        {{ tipo_donador.tipo }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-right: 0;">
                <div class="field">
                    <label class="label" for="cantidad">
                        Cantidad:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="number" name="cantidad" value="{{ old.cantidad }}" id="ingreso_cantidad" disabled>
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="especie">
                        Especie:
                    </label>
                    <div class="control">
                        <input class="input" type="text" name="especie" value="{{ old.especie }}" id="ingreso_especie" disabled>
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-right: 0;">
                <div class="field">
                    <label class="label" for="monto_especie">
                        Monto aproximado de lo donado:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="monto_especie" value="{{ old.monto_especie }}" id="ingreso_monto_especie" disabled>
                        <span class="icon is-small is-left has-text-info">
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                    </div>
		        </div>
            </div>
        </div>
		<div class="field">
			<div class="control">
				<button class="button is-link" type="submit">
					Agregar
				</button>
				<button class="button is-light" id="close">
					Cerrar
				</button>
			</div>
		</div>
	</form>
</div>

{# Tipo de egresos #}
<div id="form-container_tipo_egreso" style="{% if mensajes.error_tipo_egreso|length > 0 %} top: 0; {% endif %}">
	<form action="/admin/tipo_egreso" method="POST" enctype="multipart/form-data" id="form_tipo_egreso">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Agregar tipo de egreso
		</h2>
		{% if mensajes.error_tipo_egreso|length > 0 %}
			<p class="help has-text-danger" id="message_tipo_egreso">
				{{ mensajes.error_tipo_egreso[0] }}
			</p>
		{% endif %}
        <div class="columns is-fullwidth">
            <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_egreso">
                        Agregar tipo de: <span class="has-text-info">*</span>
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_egreso" name="tipo_egreso">
                                <option hidden selected disabled>Selecciona una opción</option>
                                <option value="consulta">Consulta</option>
                                <option value="insumo">Insumo</option>
                                <option value="medicamento">Medicamento</option>
                                <option value="laboratorio">Laboratorio</option>
                                <option value="conferencia">Conferencia</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-right: 0;">
                <div class="field">
                    <label class="label" for="nombre_tipo_egreso">
                        Nombre: <span class="has-text-info">*</span>
                    </label>
                    <div class="control">
                        <input class="input" type="text" name="nombre_tipo_egreso" value="{{ old.nombre_tipo_egreso }}">
                    </div>
                </div>
            </div>
            {# <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="costo_tipo_egreso">
                        Costo:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="number" name="costo_tipo_egreso" value="{{ old.costo_tipo_egreso }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div> #}
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-link" type="submit">
                    Agregar
                </button>
                <button class="button is-light" id="close_tipo_egreso">
                    Cerrar
                </button>
            </div>
        </div>
	</form>
</div>

{# Crear Egreso #}
<div id="form-container_egreso" style="{% if mensajes.error_egreso|length > 0 %} top: 0; {% endif %}">
	<form action="/admin/egreso" method="POST" enctype="multipart/form-data" id="form_egreso" style="height: 550px">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Nuevo Egreso
		</h2>
		{% if mensajes.error_egreso|length > 0 %}
			<p class="help has-text-danger" id="message_egreso">
				{{ mensajes.error_egreso[0] }}
			</p>
		{% endif %}
        <div class="columns is-fullwidth">
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="nombre_egreso">
                        Nombre: <span class="has-text-info">*</span>
                    </label>
                    <div class="control">
                        <input class="input" type="text" name="nombre_egreso" value="{{ old.nombre_egreso }}" placeholder="Nombre">
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_consulta_egreso">
                        Tipo de consulta:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_consulta_egreso" name="tipo_consulta_egreso" {% if tipo_consultas|length <= 0 %} disabled {% endif %}>
                                {% if tipo_consultas|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_consulta in tipo_consultas %}
                                    <option value="{{ tipo_consulta.nombre }}">
                                        {{ tipo_consulta.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_consulta_egreso">
                        Costo del tipo de consulta:
                    </label>
                    <div class="control has-icons-left">
                        <input 
                            class="input" 
                            type="number" 
                            name="cantidad_consulta_egreso" 
                            value="{{ old.cantidad_consulta_egreso }}" 
                            placeholder="Costo del tipo de consulta"
                            {% if tipo_consultas|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_taller_egreso">
                        Tipo de taller:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_taller_egreso" name="tipo_taller_egreso" {% if tipo_talleres|length <= 0 %} disabled {% endif %}>
                                {% if tipo_talleres|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_taller in tipo_talleres %}
                                    <option value="{{ tipo_taller.titulo }}">
                                        {{ tipo_taller.titulo }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_taller_egreso">
                        Costo del tipo de taller:
                    </label>
                    <div class="control has-icons-left">
                        <input 
                            class="input" 
                            type="number" 
                            name="cantidad_taller_egreso" 
                            placeholder="Costo del tipo de taller"
                            value="{{ old.cantidad_taller_egreso }}" 
                            {% if tipo_talleres|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_insumo_egreso">
                        Tipo de insumo:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_insumo_egreso" name="tipo_insumo_egreso" {% if tipo_insumos|length <= 0 %} disabled {% endif %}>
                                {% if tipo_insumos|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_insumo in tipo_insumos %}
                                    <option value="{{ tipo_insumo.nombre }}">
                                        {{ tipo_insumo.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_insumo_egreso">
                        Costo del tipo de insumo:
                    </label>
                    <div class="control has-icons-left">
                        <input 
                            class="input" 
                            type="number" 
                            name="cantidad_insumo_egreso"
                            placeholder="Costo del tipo de insumo"
                            value="{{ old.cantidad_insumo_egreso }}" 
                            {% if tipo_insumos|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_medicamento_egreso">
                        Tipo de medicamento:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_medicamento_egreso" name="tipo_medicamento_egreso" {% if tipo_medicamentos|length <= 0 %} disabled {% endif %}>
                                <option hidden selected disabled>Selecciona una opción</option>
                                {% if tipo_medicamentos|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_medicamento in tipo_medicamentos %}
                                    <option value="{{ tipo_medicamento.nombre }}">
                                        {{ tipo_medicamento.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_medicamento_egreso">
                        Costo del tipo de medicamento:
                    </label>
                    <div class="control has-icons-left">
                        <input 
                            class="input" 
                            type="number" 
                            name="cantidad_medicamento_egreso" 
                            placeholder="Costo del tipo de medicamento"
                            value="{{ old.cantidad_medicamento_egreso }}" 
                            {% if tipo_medicamentos|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_laboratorio_egreso">
                        Tipo de laboratorio:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_laboratorio_egreso" name="tipo_laboratorio_egreso" {% if tipo_laboratorios|length <= 0 %} disabled {% endif %}>
                                <option hidden selected disabled>Selecciona una opción</option>
                                {% if tipo_laboratorios|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_laboratorio in tipo_laboratorios %}
                                    <option value="{{ tipo_laboratorio.nombre }}">
                                        {{ tipo_laboratorio.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_laboratorio_egreso">
                        Costo del tipo de laboratorio:
                    </label>
                    <div class="control has-icons-left">
                        <input 
                            class="input" 
                            type="number"
                            name="cantidad_laboratorio_egreso" 
                            placeholder="Costo del tipo de laboratorio"
                            value="{{ old.cantidad_laboratorio_egreso }}" 
                            {% if tipo_laboratorios|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_conferencia_egreso">
                        Tipo de conferencia:
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_conferencia_egreso" name="tipo_conferencia_egreso" {% if tipo_conferencias|length <= 0 %} disabled {% endif %}>
                                <option hidden selected disabled>Selecciona una opción</option>
                                {% if tipo_conferencias|length <= 0 %}
                                    <option hidden selected disabled>No existen opciones disponibles</option>
                                {% else %}
                                    <option hidden selected disabled>Selecciona una opción</option>
                                {% endif %}
                                {% for tipo_conferencia in tipo_conferencias %}
                                    <option value="{{ tipo_conferencia.nombre }}">
                                        {{ tipo_conferencia.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="cantidad_conferencia_egreso">
                        Costo del tipo de conferencia:
                    </label>
                    <div class="control has-icons-left">
                        <input
                            class="input" 
                            type="number" 
                            name="cantidad_conferencia_egreso" 
                            placeholder="Costo del tipo de conferencia"
                            value="{{ old.cantidad_conferencia_egreso }}" 
                            {% if tipo_conferencias|length <= 0 %} disabled {% endif %}
                        >
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
		<div class="field">
			<div class="control">
				<button class="button is-link" type="submit">
					Agregar
				</button>
				<button class="button is-light" id="close_egreso">
					Cerrar
				</button>
			</div>
		</div>
	</form>
</div>