<div class="container main-admin">
	<h1 class="title is-2 section has-text-info section-title has-text-centered">
		Transparencia
	</h1>
    <h2 class="title is-4 has-green-text last-section">
        Ingresos de Fundación Vida Renal - {{ 'now' | date('Y') }}
    </h2>
    {% if mensajes.done|length > 0 %}
		<div class="notification is-primary" id="message">
			<button class="delete"></button>
			{{ mensajes.done[0] }}
		</div>
	{% endif %}
	<div class="columns">
        <div class="column is-12">
			<button class="button is-info has-text-weight-bold" style="margin-right: .5rem;" id="create">
				Nuevo Ingreso
			</button> 
			<button class="button has-text-weight-bold" id="create">
				Ver listado completo de ingresos
			</button>
		</div>
        <div class="column is-3">
			<table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Tipo de donador</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donador Persona fisica</td>
                        <td>12%</td>
                    </tr>
                    <tr>
                        <td>Donador empresas</td>
                        <td>19%</td>
                    </tr>
                    <tr>
                        <td>Donador Anónimo</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td>Donador en Especie</td>
                        <td>5%</td>
                    </tr>
                </tbody>
            </table>
		</div>
        <div class="column is-9">
			<table class="table is-bordered is-striped is-fullwidth" style="line-height: normal">
                <thead>
                    <tr>
                        <th>Número de donador</th>
                        <th>Nombre</th>
                        <th>Tipo de donador</th>
                        <th>Cantidad</th>
                        <th>Especie</th>
                        <th>Monto aproximado de lo donado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingreso in ingresos %}
                        <tr>
                            <td>{{ ingreso.id }}</td>
                            <td>{{ ingreso.nombre }}</td>
                            <td>{{ ingreso.tipo_donador }}</td>
                            <td>{{ ingreso.cantidad }}</td>
                            <td>{{ ingreso.especie}}</td>
                            <td>{{ ingreso.especie_cantidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
    </div>
    <h2 class="title is-4 has-green-text last-section">
        Egresos de Fundación Vida Renal
    </h2>
    <div class="columns">
        <div class="column is-12">
			<button class="button is-info has-text-weight-bold" style="margin-right: .5rem;" id="create">
				Nuevo Egreso
			</button>
			<button class="button has-text-weight-bold" id="create">
				Ver listado completo de Egresos
			</button>
		</div>
    </div>
</div>

{# Crear Ingreso #}
<div id="form-container" style="{% if mensajes.error|length > 0 %} top: 0; {% endif %}">
	<form action="/admin/transparencia" method="POST" enctype="multipart/form-data" id="form">
		<h2 class="title is-3 has-text-link has-text-weight-bold">
			Nuevo ingreso
		</h2>
		{% if mensajes.error|length > 0 %}
			<p class="help has-text-danger" id="message">
				{{ mensajes.error[0] }}
			</p>
		{% endif %}
		<div class="field">
			<label class="label" for="nombre">
				Nombre: <span class="has-text-info">*</span>
			</label>
			<div class="control">
				<input class="input" type="text" name="nombre" value="{{ old.nombre }}">
			</div>
		</div>
        <div class="columns is-fullwidth">
            <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="tipo_donador">
                        Tipo de donador: <span class="has-text-info">*</span>
                    </label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="tipo_donador" name="tipo_donador">
                                <option hidden selected disabled>Selecciona una opción</option>
                                {% for tipo_donador in tipo_donadores %}
                                    <option value="{{ tipo_donador.id }}">
                                        {{ tipo_donador.tipo }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-right: 0;">
                <div class="field">
                    <label class="label" for="cantidad">
                        Cantidad:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="number" name="cantidad" value="{{ old.cantidad }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-dollar-sign has-text-info"></i>
                        </span>
                    </div>
                </div>
            </div>
             <div class="column is-6" style="padding-left: 0;">
                <div class="field">
                    <label class="label" for="especie">
                        Especie:
                    </label>
                    <div class="control">
                        <input class="input" type="text" name="especie" value="{{ old.especie }}">
                    </div>
                </div>
            </div>
            <div class="column is-6" style="padding-right: 0;">
                <div class="field">
                    <label class="label" for="monto_especie">
                        Monto aproximado de lo donado:
                    </label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="monto_especie" value="{{ old.monto_especie }}">
                        <span class="icon is-small is-left has-text-info">
                            <i class="fas fa-dollar-sign"></i>
                        </span>
                    </div>
		        </div>
            </div>
        </div>
		<div class="field">
			<div class="control">
				<button class="button is-link" type="submit">
					Agregar
				</button>
				<button class="button is-light" id="close">
					Cerrar
				</button>
			</div>
		</div>
	</form>
</div>