<header class="header">
	{% include './templates/nav.twig' %}
	<div class="container">
		<div class="columns header__columns">
			<div class="column is-3 is-flex header__column">
				<ul class="social is-flex">
					<li class="social__item">
						<a href="https://www.instagram.com/vidarenalmx/" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/instagram.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://www.youtube.com/channel/UC5_bLKq-t47ehUjx_hHhDRA" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/youtube.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://www.facebook.com/VidaRenalMx/?epa=SEARCH_BOX" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/facebook.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://twitter.com/VidaRenal" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/twitter.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
				</ul>
				<p class="is-size-4 social__text has-green-text is-uppercase has-text-weight-bold is-italic">
					/vidarenalmx
				</p>
			</div>
			<div class="column is-6 is-flex header__column">
				<figure class="image is-128x128 queHacemos-img center no-zoom" style="width: 70%; margin-top: 1em; overflow: unset;">
					<a href="/"><img src="{{ base_url() }}{{ asset('/public/img/logo.png') }}" class="no-zoom" style="width: 100%;"></a>
				</figure>
				{# <h1 class="title header__title is-2 is-uppercase has-text-link font-weight-bolder">
					vida renal
				</h1> #}
			</div>
			<div class="column is-3 is-flex header__column">
				{# <div class="field">
					<div class="control">
						<input class="input is-rounded header_search" type="search" placeholder="Buscar"/>
					</div>
				</div> #}
				{# <a href="/quiero-ayudar">
					<button class="button is-warning has-text-link is-rounded btn__help">
						Ayudanos
					</button>
				</a> #}
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick" />
					<input type="hidden" name="hosted_button_id" value="2LANUFEWLUQY6" />
					<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donar con el botón PayPal" />
					<img alt="" border="0" src="https://www.paypal.com/es_MX/i/scr/pixel.gif" width="1" height="1" />
				</form>
			</div>
		</div>
	</div>
</header>
