<header class="header">
	{% include './templates/nav.twig' %}
	<div class="container">
		<div class="columns header__columns">
			<div class="column is-3 is-flex header__column">
				<ul class="social is-flex">
					<li class="social__item">
						<a href="https://www.instagram.com/vidarenalmx/" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/instagram.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://www.youtube.com/channel/UC5_bLKq-t47ehUjx_hHhDRA" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/youtube.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://www.facebook.com/VidaRenalMx/?epa=SEARCH_BOX" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/facebook.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
					<li class="social__item">
						<a href="https://twitter.com/VidaRenal" class="social__link" target="_blank">
							<img src="{{ base_url() }}{{ asset('/public/icons/twitter.svg') }}" alt="icono de facebook" class="social__img"/>
						</a>
					</li>
				</ul>
				<p class="is-size-4 social__text has-text-link is-uppercase has-text-weight-bold is-italic">
					/vidarenalmx
				</p>
			</div>
			<div class="column is-6 is-flex header__column">
				<figure class="image is-128x128 queHacemos-img center no-zoom">
					<img src="{{ base_url() }}{{ asset('/public/img/logo.png') }}" class="no-zoom">
				</figure>
				<h1 class="title header__title is-2 is-uppercase has-text-link font-weight-bolder">
					vida renal
				</h1>
			</div>
			<div class="column is-3 is-flex header__column">
				<div class="field">
					<div class="control">
						<input class="input is-rounded header_search" type="search" placeholder="Buscar"/>
					</div>
				</div>
				<a href="/quiero-ayudar">
					<button class="button is-warning has-text-link is-rounded btn__help">
						Ayudanos
					</button>
				</a>
			</div>
		</div>
	</div>
</header>
